# SPDX-FileCopyrightText: 2022 David Hurka <doxydoxy@mailbox.org>
#
# SPDX-License-Identifier: CC0-1.0 OR MIT

# Leading **/ are understood by git-archive and git-archive-all.
# ContentDB simply ignores .gitattributes when importing repositories,
# so there is nothing that can be done here.
**/assets export-ignore
**/autotests export-ignore
**/screenshots export-ignore
**/LICENSES export-ignore

# These are not necessary for minetest.
.* export-ignore
*.license export-ignore
