# SPDX-FileCopyrightText: 2021 David Hurka <doxydoxy@mailbox.org>
#
# SPDX-License-Identifier: CC0-1.0 OR MIT

# This file must work with git-archive-all on ContentDB,
# which is a bit buggy with the syntax.
# Therefore, do not use trailing slashes.
# This means, usually leading slashes must be used instead.
/screenshots export-ignore
/LICENSES export-ignore
.* export-ignore
**/autotests export-ignore
